$defaultfont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: $defaultfont;
    scroll-behavior: smooth;
}
// body{
//     height: 95vh;
// }
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    span{
        color: crimson;
    }
}
// call to action buttons
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3 ease;
    transition-property: background-color, color;
    &:hover{
        color: white;
        background-color: crimson;
    }
}
.brand{
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }
    span{
        color: crimson;
    }
}
//header
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    .header{
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.24);
        transition: .3 ease background-color;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
    }
    .nav-list{
        // .modal-button{
        //     border: none;
        //     background: none;
        //     cursor: pointer;
        //     margin: 0;
        //     padding: 0;
        //     font-family: $defaultfont;
        //     font-size: 1.75rem; //looks bigger when compare to normal a font???
        //     font-weight: 500;
        //     letter-spacing: .2rem;
        //     color: white;
        //     text-transform: uppercase;
        //     padding: 20px;
        //     display: block;
        //     &:hover{
        //         color: crimson;
        //         &::after{
        //             transform: translate(-50%, -50%) scale(1);
        //             letter-spacing: initial;
        //         }
        //     }
        // }
        ul{
            list-style: none;
            position: absolute;
            background-color: #1f1e1e;
            width: 100vw;
            height: 100vh;
            left: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            overflow-x: hidden;
            transition: .5 ease left;
            &.active{
                left: 0;
            }
            a{
                font-size: 2.5rem;
                font-weight: 500;
                letter-spacing: .2rem;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                padding: 20px;
                display: block;
                &::after{
                    content: attr(data-after);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 50%) scale(0);
                    color: rgba(240,248,255,0.21);
                    font-size: 13rem;
                    letter-spacing: 50px;
                    z-index: -1;
                    transition: .3s ease letter-spacing;
                }
            }
        }
        li{
            &:hover{
                a{
                    color: crimson;
                    &::after{
                        transform: translate(-50%, -50%) scale(1);
                        letter-spacing: initial;
                    }
                }
            }
        }
    }
    .hamburger {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 3px solid white;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(0.6);
        margin-right: 20px;
        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 3px solid white;
            animation: hamburger_pulse 1s ease infinite;
          }
          .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: white;
            z-index: -1;
            &::after, &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background-color: white;
                transition: .3 ease;
                transition-property: top, bottom;
            }
            &::after{
                top: 8px;
            }
            &::before{
                bottom: 8px;
            }
        }
    }
    .active .bar{
        &::before{
            bottom: 0;
        }
        &::after{
            top: 0;
        }
    }
}
// start hero
#hero{
    background-image: url(../imgs/glacierparkbackground.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .3;
        z-index: -1;
    }
    .hero{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }
    // .type-text{
    //     display: inline-flex;
    //     .static-text{
    //         color: #fff;
    //         font-size: 4rem;
    //         font-weight: 400;
    //     }
    //     .dynamic-text{
    //         margin-left: 15px;
    //         height: 90px;
    //         line-height: 90px;
    //         overflow: hidden;
    //         li{
    //             color: crimson;//
    //             list-style: none;
    //             font-size: 4rem;
    //             font-weight: 500;
    //             position: relative;
    //             top: 0;
    //             animation: slide 5s steps(3) infinite;
    //             span{
    //                 position: relative;
    //                 &::after{
    //                     content: '';
    //                     position: absolute;
    //                     left: 0;
    //                     height: 100%;
    //                     width: 100%;
    //                     color: transparent;
    //                     background: transparent;//video made it into background color, figure how to make transparent?
    //                     border-left: 2px solid crimson;
    //                     animation: text-typing 2s steps(13) infinite;
    //                 }
    //             }
    //         }
    //     }
    // }
    h1{
        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: transparent;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1s;
        &:nth-child(1){
            animation-delay: 1s;
        }
        &:nth-child(1) span{
            animation-delay: .5s;
        }
        &:nth-child(2){
            animation-delay: 2s;
        }
        &:nth-child(2) span{
            animation-delay: 1.5s;
        }
        &:nth-child(3){
            animation: text_reveal_name .5 ease forwards;
            animation-delay: 3s;
        }
        &:nth-child(3) span{
            animation-delay: 2.5s;
        }
        span{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: crimson;
            animation: text_reveal_box 1s ease;
            animation-delay: .5s;
        }
    }
}
// end hero
//aboutme
// #aboutme{
//         flex-direction: column;
//         text-align: center;
//         max-width: 150%;
//         margin: 0 auto;
//         padding: 100px 0;
//         border: 1px solid #000;//test
//     .aboutme-top{
//         max-width: 500px;
//         margin: 0 auto;
//     }
// }
//end aboutme
//start about
#about{
    .about{
        flex-direction: column-reverse;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 20px;
    }
    .col-left{
        // col-left - original
        width: 250px;
        height: 360px;
        .about-img{
            height: 100%;
            width: 100%;
            position: relative;
            border: 10px solid white;
        }
        .about-img::after{
            content: '';
            position: absolute;
            left: -33px;
            top: 19px;
            height: 98%;
            width: 98%;
            border: 7px solid crimson;
            z-index: -1;
        }
    }
    .col-right{
        // col-right - orginial
        width: 100%;
        h2{
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: .2rem;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 20px;
        }
        .cta{
            color: black;
            margin-bottom: 50px;
            padding: 10px 20px;
            font-size: 2rem;
        }
    }
}
// end about
// services section
#services{
    .services{
        flex-direction: column;
        text-align: center;
        max-width: 150%;
        margin: 0 auto;
        padding: 100px 0;
    }
    .service-top{
        max-width: 500px;
        margin: 0 auto;
    }
    .service-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        .icon{
            height: 80px;
            width: 80px;
            margin-bottom: 20px;
        }
    }
    @mixin service-item{
        flex-basis: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px ;
        // background-image: url(../imgs/box-outline-patterns.png);
        background-size: cover;
        margin: 10px 5%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::after{
            // dark overlay
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: white;
            opacity: .7;
            z-index: -1;
        }
        h2{
            font-size: 2rem;
            color: crimson;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        p{
            text-align: left;
        }
    }
    .service-item-webdesign{
        @include service-item;
        background-image: url(../imgs/box-outline-patterns.png);
    }
    .service-item-illustrations{
        @include service-item;
        background-image: url(../imgs/astrowizard-color.jpg);
    }
}
// end of service section
//start product page
#portfolio{
    .portfolio{
        flex-direction: column;
        text-align: center;
        max-width: 150%;
        margin: 0 auto;
        padding: 100px 0;
    }
    .portfolio-top{
        // padding-top: 100px;//needed to keep nav off section
        max-width: 500px;
        margin: 0 auto;
    }
    .product-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .portfolio-filter{
        display: flex;
        margin-bottom: 10px;
        li{
            list-style: none;
            background: #eee;
            padding: 8px 20px;
            margin: 5px;
            letter-spacing: 1px;
            cursor: pointer;
            &.active{
                background: #03a9f4;
                color:#fff;
            }
        }
    }
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
        // padding-bottom: 20px;
        .itemBox{
            position: relative;
            width: 300px;
            height: 300px;
            margin: 5px;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
//end product
// start footer
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    .footer{
        min-height: 100px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    h2{
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        color: white;
        font-size: 1.3rem;
    }
}
// end footer
// animations
// modal animations
@-webkit-keyframes animatetop{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
}
@keyframes animatetop{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
// hamburger
@keyframes hamburger_pulse {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.4);
    }
  }
// text reveal animations
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500;
    }
}
// typing animation
// @keyframes text-typing {
//     100%{
//         left: 100%;
//         margin: 0 -35px 0 35px;
//     } 
// }
// @keyframes slide {
//     100%{
//         top: -360px;

//     }
    
// }
// media screens tablet
@media only screen and (min-width: 600px) {
    .cta {
      font-size: 2.5rem;
      padding: 20px 60px;
    }
    #hero{
        h1{
            font-size: 7rem;
        }
    }
     // about
 #about{
    .about{
        flex-direction: row;
    }
    .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
        .about-img::after{
            left: -45px;
            top: 34px;
            height: 98%;
            width: 98%;
            border: 10px solid crimson;
        }
    }
    .col-right{
        text-align: left;
        padding: 30px;
        h1{
            text-align: left;
        }
    }
}
// end about
}
//media query desktop
@media only screen and (min-width: 900px) {
    #header {
        .hamburger {
            display: none;
        }
        .nav-list ul {
            position: initial;
            display: block;
            height: auto;
            width: fit-content;
            background-color: transparent;
            a:after {
                display: none;
            }
            li {
                display: inline-block;
                a {
                    font-size: 1.8rem;
                }
            }
        }
    }
    #services{
        .service-bottom {
            .service-item-webdesign, .service-item-illustrations{
                flex-basis: 22%;
                margin: 1.5%;
            }
        }
    }
}
