$primary-color: white;
$secondary-color:#51cac0;//10.56:1 (enchanced ratio with black text or black background with this color text
$highlight-color: #f04E32;
$default-fonts: Verdana, Arial, Helvetica, sans-serif;